body {
	background: #ff6666);
}

h1 {
	font-family: 'Poppins', sans-serif;
	color: black;
	text-align: center;
	front-size: 2em;

	}
ul.nav {
	list-style-type: none;
	margin: 0
	padding: 0
	overflow: hidden;
	background-color: #ff4d4d
	display: inline;
	 margin: 0 15px;
}

li.nav{
	float: top;
}

li.nav a {
	front-family:'Poppins', sans-serif;
	front-size: 1.2em;
	display: inline-block;
	color: black;
	padding: 14px 16px;
	text-decoration:solid;
	text-transform: uppercase;
}

li.nav a:hover{
	background-color: #ff751a;
}

a {
    color: #ff9933;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #ff6b6b;
    text-decoration: underline;
}

ul.nodot {
	list-style-type: none;
	margin-left: 8%
}

header {
	padding-top: 5%
	text-align:center;
}

td.right {
	padding-left: 25;
}
